*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.507);
    height: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.76);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 'weight' é um valor inválido, 400 é o peso normal */
    font-style: normal;
}
header .container-cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    width: 100%;
    height: 100%
}
header .container-cabecalho .nome-e-img{
    display: flex;
    align-items: center;
    height: 100%;
}
header .container-cabecalho .nome-e-img h1{
    margin-bottom: 0;
    font-size: 25px;
    color: #fff;
}
header .container-cabecalho .nome-e-img img{
    height: 80px;
}
header .container-cabecalho ul{
    display: flex;
    list-style:none;
    padding-left: 0;
    padding-right: 15px;
    gap: 15px;
    margin-bottom: 0;
}
header .container-cabecalho ul a{
    text-decoration: none;
    color: #fff;
}
header .container-cabecalho ul a:hover{
    border-bottom:2px solid #fff;
    transition:0.5s ease-in-out;
}
main section{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .conteudo-e-imagem-principal{
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    flex-direction: column;
    width: 100%;
    height: 100%; /* Ocupa a altura total da seção pai */
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./1764780607446~2.jpg);
    background-position: center;
    background-size:cover; /* Faz a imagem cobrir todo o espaço sem distorcer */
    background-repeat: no-repeat;
}
main .container-sobre{
    display: flex;
    align-items: center;
    padding: 35px;
    width: 70%;
    height: 50%; /* Altura original do seu card */
    box-shadow: 0px 0px 6px rgba(80, 79, 79, 0.76); /* Sombra original do seu card */
    border-radius: 10px; /* Borda arredondada original do seu card */
}
main .container-sobre img{
    width: 40%; /* Ajustado para dar espaço ao texto */
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
main .container-sobre .texto-container {
    display: flex;
    gap: 20px; /* Adiciona um espaço entre "Sobre mim" e "Habilidades" */
}
main #projetos {
    display: block; /* Faz a seção se comportar como um bloco, não como flex */
    text-align: center; /* Centraliza o título "Projetos" */
    padding-top: 120px; 
    margin-bottom: 300px;/* Adiciona espaço no topo para não ficar atrás do header */
}
main #contato{
    background-color: black;
}
main #contato h2{
    margin-bottom: 10px;
    text-align: center;
}
main #contato .container-formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    margin-top: 90px;
    padding: 20px;
    border-radius: 30px;
}
main #contato .container-formulario p{
    margin-bottom: 0px;
    font-weight: bold;
}
main #contato .container-formulario input{
    padding:10px;
    border-radius: 10px;
    border: rgba(128, 128, 128, 0.411) 1px solid;
}
main #contato .container-formulario button{
    margin-top: 20px;
}
main #contato .container-formulario .social-media{
    display: flex;
    padding-left: 0;
    gap: 30px;
    justify-content: center;
    list-style: none;
}
main #contato .container-formulario .social-media img{
    width: 100px;
    height: 100px;
    width: 48px;
    height: 48px;
}
main .card-img-top{
    height: 200px;
}
@media (max-width: 768px){
    body {
        font-size: 14px; /* Reduz o tamanho da fonte base para telas menores */
    }

    header .container-cabecalho .nome-e-img h1{
        font-size: 15px;
    }
    header .container-cabecalho ul{
        gap: 5px;
        font-size: 15px;
    }
    header .container-cabecalho .nome-e-img{
        width: 50%;
    }
    header .container-cabecalho{
        padding: 0 10px;
    }
    main .container-sobre{
        display: flex;
        flex-direction: column;
        height: 70vh;
        width: 100%;
        word-wrap: break-word;
    }
    main .container-sobre img{
        width: 100%;
        height: 30%;
        margin-bottom: 10px;
    }
    main #projetos {
        padding-top: 100px; /* Reduz o espaçamento superior para a seção de projetos */
        margin-bottom: 150px; /* Reduz a margem inferior */
        margin-left: 15px;
        margin-right: 15px;
    }
    main #contato {
        margin-top: 150px; /* Reduz drasticamente a margem superior para a seção de contato */
    }
    main #contato .container-formulario{
        width: 80%;
        margin-top: 80px;
    }
}